= form_with url: check_question_path(@question), class: 'exam_form' do |form|
  = form.hidden_field :category, value: params[:category]
  = form.collection_radio_buttons :answer_id, @question.answers, :id, :title do |b|
    .form-check
      = b.label(class: "form-check-label") { b.radio_button(class: "form-check-input", checked: :checked) + b.text }

  =form.submit 'Ответить', class: 'btn btn-success submit'
