%turbo-stream{ action: "replace", target: dom_id(@question) }
  %template
    %div{ id: dom_id(@question) }
      = form_with url: start_questions_path(category: params[:category]), class: 'exam_form', data: { controller: 'question', choice_answer: "answer_id_#{params[:answer_id]}"} do |form|
        = form.hidden_field :category, value: params[:category]
        = form.collection_radio_buttons :answer_id, @question.answers, :id, :title, { checked: params[:answer_id] } do |b|
          .form-check
            - if @question.correct_answer.id.eql?(b.object.id)
              = b.label(class: "form-check-label", data: { 'question-target' => :correctAnswer }) do
                = b.radio_button(class: "form-check-input") + b.text
            - else
              = b.label(class: "form-check-label") { b.radio_button(class: "form-check-input") + b.text }

        = form.submit 'Далее', class: 'btn btn-success submit'
