.exam
  %p.current_question= @question.title
  = image_tag "for_exam/#{@question.image}", alt: 'image for question', class: "exam-img" if @question.image

  %p
    Категория вопроса:
    = @question.category
  %div{id: dom_id(@question)}
    = render 'form_question'

  %div.test_passages
    - @question_ids.each do |q_id|
      %div{class: "weight_question question_id-#{q_id} #{status_question(q_id)}"}


