%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  = link_to 'QSO', root_path, class: 'navbar-brand'

  %ul.navbar-nav.mr-auto
    %li.nav-item.active= link_to 'Пройти тест', trial_exam_path, class: 'navbar-brand'
    %li.nav-item.active= link_to 'Азбука Морзе', morse_index_path, class: 'navbar-brand'

