.start-exam{ data: { controller: 'category' } }
  = form_for :category, id: :form_category_exam, data: { 'category-target' => :form } do |form|
    = form.collection_radio_buttons(:category, (1..4).to_a, :to_s, :to_s) do |r|
      .form-check-inline
        = r.label(class: "form-check-label") do
          = r.radio_button(class: "form-check-input", data: { action: "click->category#choice" }) + r.text

  =link_to 'Начать тест', start_questions_path, class: 'btn btn-primary', data: { 'category-target' => :startExamLink }
