= render 'shared/start_exam'

.category_list
  %h4 Категории
  %ul.list-group
    %li.list-group-item
      .category_name 1 Категория (эквивалент CEPT T/R 61-01)
      %p Подразумевает сдачу теоретического экзамена на полную лицензию СЕРТ T/R 61-02 с правильными ответами не менее чем на 40 из 45 вопросов в течение 90 минут. Экзамен также включает в себя практическую часть по приёму радиограммы в азбуке Морзе в объёме 250 знаков со скоростью подачи 60 знаков в минуту. Приём должен быть произведён не более чем с тремя ошибками.
    %li.list-group-item
      .category_name 2 Категория (эквивалент CEPT T/R 61-01)
      %p Всё то же самое по той же программе и тем же вопросам, но правильно нужно ответить лишь на 25 вопросов из 30. Знание морзянки здесь уже не потребуется.
    %li.list-group-item
      .category_name 3 Категория (эквивалент CEPT NOVICE)
      %p Подразумевает сдачу теоретического экзамена на лицензию ERC32/ARNEC, с правильными ответами не менее чем на 20 из 25 вопросов в течение 60 минут.
    %li.list-group-item
      .category_name 4 Категория (ECC89)
      %p Подразумевает сдачу теоретического экзамена на лицензию ECC89, с правильными ответами не менее чем на 15 из 20 вопросов в течение 60 минут. Не соответствует какой-либо CEPT-лицензии, и строго говоря, сейчас смысл получать именно её весьма туманен
