%h2
  Учим Морзе

= link_to 'Учить Код Морзе', start_morse_index_path

%h3 Утилиты
%table.table.morse_utilities
  %thead
    %tr
      %th Linux
      %th Android
  %tbody
    %tr
      %td Cwcp
      %td MorseMania
    %tr
      %td aldo
      %td
    %tr
      %td qrq
      %td
    %tr
      %td cp
      %td

%h3 Телеграфная азбука Морзе (ти – точка, таа – тире)
%table.table.table-bordered.azbuka_morse{ data: { controller: 'morse' } }
  %thead
    %tr{:align => "center"}
      %th{scope: "col"}
        %b Буквы русского алфавита и цифры
      %th{scope: "col"}
        %b Буквы латинского алфавита
      %th{scope: "col"}
        %b Словесное обозначение знака Морзе
      %th{scope: "col"}
        %b Слоговое обозначение знака Морзе
      %th{scope: "col"}
        %b Код Морзе: длительность тире равно длительности трёх точек
  %tbody
    = render @morse_code
