%h2
  Учим Морзе

%p
  Ваш уровень:
  = cookies[:morse_code_level]

.secret_code_morse{ data: { controller: 'test-morse-code' }}
  .code{ data: { 'test-morse-code': { msg: { value: 'яяя' }}}}
  = @code_by_level
  = button_tag 'Старт', class: 'btn btn-primary', data: { action: "click->test-morse-code#start" }

