.category_list {
  padding-top: 50px;
  .category_name {
    font-weight: bold;
  }
}
h1 {
  a {
    text-decoration: none;
  }
}

.start-exam {
  margin: auto;
  width: fit-content;

  label {
    display: block;
    text-align: center;
  }

  .form-check-input[type="radio"] {
    border-radius: 50%;
    display: block;
  }

  a.btn.btn-primary {
    margin: auto;
    display: block;
  }
}

.azbuka_morse {
  a.btn {
    padding: 0.105rem 0.75rem;
  }
}
