.exam {
  form.exam_form {
    width: 60%;
    display: block;
    margin: auto;
    border: 1px solid grey;
    padding: 15px;
    border-radius: 15px;

    label.radio_button {
      display: block;
      font-size: 1.2rem;
    }

    label.fail {
      background-color: #B00100;
      color: #ffffff;
    }

    label.success {
      background-color: #2fb000;
      color: #ffffff;
    }

    .submit {
      display: block;
      margin: auto;
    }
  }

  &-img {
    margin: auto;
    display: block;
  }

  .current_question {
    font-size: 1.7rem;
    padding-top: 50px;
    width: 85%;
  }

  .test_passages {
    display: flex;
    flex-direction: column;
    margin: 50px;
    position: absolute;
    top: 70px;
    left: 80%;
    flex-wrap: wrap;
    height: 80%;

    .weight_question {
      border: 1px solid rgba(0, 0, 0, 0.82);
      width: 20px;
      height: 10px;
      margin-bottom: 1px;
      margin-right: 2px;
    }

    .red { background-color: #730E15 }
    .l_red { background-color: orangered }
    .l_green { background-color: greenyellow }
    .green { background-color: green }
  }
}
