%tr{:align => "center"}
  %td
    %b= morse_code.ru
  %td= morse_code.en

  %td{:nowrap => "nowrap"}= morse_code.verbal
  %td{:nowrap => "nowrap"}= morse_code.syllabic
  %td
    %a.btn.btn-outline-dark{ data: { action: 'click->morse#play', char: morse_code.ru }}= morse_code.ti_ta
